.board {
  display: grid;
  grid-template-columns: repeat(12, 50px);
  grid-template-rows: repeat(12, 50px);
}

.surfice {
  position: relative;
  width: 600px;
  height: 600px;
  top: -50px;
  left: -12px;
  z-index: -1;
  background-image: url('/images/bg-chessboard.png');
  filter: opacity(0.1);
  /* box-shadow: 0 0 4px 2px rgba(0, 0, 0); */
}

.extra-surfice {
  position: relative;
  width: 600px;
  height: 600px;
  top: -50px;
  left: -62px;
  z-index: -2;
  /* background-color: transparent; */
  background-color: rgb(19 78 74);
  box-shadow: 0 0 2px 2px rgba(30, 30, 30);
}

.square {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  

}

/* .main-square {
  background-color: #f0d9b5;
}

.wizard-square {
  background-color: #e1e1e1;
} */

.outside-square {
  /* background-color: rgb(19 78 74); */
  background-color: transparent;
}

.piece {
  font-size: 40px;
  font-weight: bold;
  filter: opacity(1);
}

.white {
  color: white;
}

.black {
  color: black;
}

.backg-white {
  filter: opacity(1);
  background-color: #aaa;
}

.backg-black {
  filter: opacity(1);
  background-color: #666;
}

.selected {
  background-color: cyan;
}

.svg-piece {
  width: 100px;
  height: 100px;
  filter:opacity(1);
}


.turn-advice {
  writing-mode: vertical-rl;
  /* Define a direção do texto (vertical direita para esquerda) */
  text-orientation: sideways-right;
  /* Mantém os caracteres em pé */
  font-weight: bold;
  /* Estilo do texto */
  color: #333;
  /* Cor do texto */
  text-align: center;
  /* Centraliza o texto dentro do container */
  height: 200px;
  /* Altura do container para visualizar o texto completo */
  display: flex;
  /* Facilita alinhamento */
  letter-spacing: 5px;
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */
  gap: 15px;
  /* Espaçamento entre os caracteres */
  font-size: 22px;
  /* Ajuste do tamanho do texto */
  border: 1px solid #333;
}

.turn-advice::before,
.turn-advice::after {
  content: '';
  /* Espaçamento opcional antes e depois */
}

.turn-advice span {
  display: inline-block;
  /* Necessário para aplicar transform em elementos inline */
  transform: rotate(45deg);
  /* Rotaciona cada caractere 45 graus */
}